@font-family: 'Crimson Text', serif;
@header-height: 200px;
@item-width: 100px;
@menu-height: 30px;
@bullet-width: 30px;
@color1: silver;
@color2: pink;
@color3: cornflowerblue;
@color4: lightgreen;

//HEADER
.header
{
  text-align: center;
  background: linear-gradient(@color1 , @color2);
  height: @header-height;
  h1
  {
    margin: 0;
    padding: 2%;
  }
}

//BODY
body
{
  font-family: @font-family;
  margin: 0;
}

//ROTATING THE MENU BAR AND DISPLAYING EACH ITEM USING ANIMATION.
.loop(@counter , @angleIncrement) when (@counter >0) {
    .loop(@counter - 1, @angleIncrement);
    @y_origin : 10px;

    //ALL THE MENU ITEMS INITIAL STATE.
    .menu .item:nth-child(@{counter}) {
        width: @item-width;
        position: absolute;
        transform-origin: 0 @y_origin;
        transform: rotate(0);
        text-align: left;
        transition: transform 2s;
    }

    //THE MENU HEADING ROTATES.
    .menu.open .item:last-of-type {
        transform-origin: 0 @y_origin;
        transform: rotate(@angleIncrement);
        transition: transform 1s;
    }

    //MENU ITEMS EXCEPT FOR THE BULLET AND THE HEADING IS MOVED TO THE RIGHT.
    .menu.open .item:nth-child(@{counter}):not(:last-child):not(:nth-last-child(2))
    {
      transform: translate(160px * @counter , 0);
      transition: transform 1s;
    }

    //THE BULLET IS FIRED.
    .menu.open .item:nth-last-child(2) {
        background: none;
        padding: 0;
        width: @bullet-width;
        transform: rotate(-40deg) translate(103px, 0) ;
    }

    //THE BULLET IS RESTORED.
    .menu .item:nth-last-child(2) {
        background: none;
        padding: 0;
        width: @bullet-width;
        transform: rotate(40deg);
        transition: transform 1s;
      }

}

//CONTENT
.content {

    font-size: 17pt;
    .menu {

        margin: 1%;
        margin-left: 0;
        position: relative;
        height: @menu-height;

        .item:last-of-type
        {
          background: linear-gradient(@color3 , @color4);
        }
        .item
        {
          padding: 0.25%;
          a:link
          {
            color: black;
            text-decoration: none;
            background: linear-gradient(@color3 , @color4);
          }
        }
    }

    .content
    {
      background: linear-gradient(to right , pink , orange , yellow , orange , pink);
    }
    .loop(7, -40deg);

}

//CHANGING THE POINTER TO AN ARROW INSTEAD OF THE CURSOR.
a:hover
{
  cursor: default;
}

//Less styles for the Link page.
.headerLink h1
{
  text-align: center;
  background: linear-gradient(to right , pink , orange , yellow , orange , pink);
  font-family: @font-family;
}
