html
{
  font-family: 'Crimson Text', serif;
  margin: 2em;
  font-size: 15pt;
}
img
{
  width:140px;
  height:140px;
  transform: rotate(90deg);
  border-radius: 20em;
  position:absolute;
  right: 80px;
  top: 73px;
}
header
{
  height: 100px;
}
header h2
{
  margin-bottom:0;
  color: rgb(0, 0, 77);
}
header p
{
  margin-top:0;
  font-size: 17pt;
}
section , .footer
{
  padding: 1em;
  border: 3px solid rgb(185,185,185);
  box-shadow: 3px 3px rgb(185,185,185);
  border-radius: 1em;
  margin: 1em;
  background-color: rgb(230, 230, 255);
}
.column
{
  display: flex;
}
.column1
{
  flex: 3;
  padding: 0.5em;
}
.column2
{
  flex : 1;
  padding: 0.5em;
  margin-left: 2em;
}
.reference
{
  display: flex;
}
.reference1 , .reference2 , .reference3
{
  flex: 1;
  margin-right: 0.5em;
}
ul , ol
{
  padding: 0;
  margin: 1em;
}
h3
{
  margin: 0.5em;
  margin-left: 0;
  color: rgb(0, 0, 77);
}
a:link
{
  color: blue;
}
a:visited
{
  color: purple;
}
a:hover
{
  color: rgb(0, 204, 204);
}
a:active
{
  color: rgb(255, 153, 102);
}
