@theme_background1: lighten(#660066, 3%);
@theme_background2: lighten(@theme_background1, 15%);
.grid_styling(@theme_background)
{
  color: #00BFFF;
  background-color: darken(@theme_background , 10%);
  border-radius: 0.7em;
  margin-bottom: 0.3em;
}
body
{
  margin: 0;
}
.title
{
  text-align: center;
  font-size: 30pt;
  background: linear-gradient(to right , @theme_background1 , lighten(@theme_background2 , 25%));
}

.top
{
  color: white;

  .item:nth-child(n)
  {
    background: @theme_background1;
  }
  .item:nth-child(2n)
  {
    background: @theme_background2;
  }
  .item
  {
    &:hover
    {
      background: lighten(@theme_background1, 65%);
    }
  }
}

.container
{
  .bargraph
  {
    background-color: @theme_background1;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    .bar1
    {
      grid-column: span 13;
    }
    .bar2
    {
      grid-column: span 10;
    }
    .bar3
    {
      grid-column: span 17;
    }
    .bar4
    {
      grid-column: span 7;
    }
}
  .sidebar
  {
    .item
    {
      display: none;
    }
  }
  .flexbottom
  {
    padding-bottom: 0.5px;
    h2
    {
      margin: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-weight: bold;
    }
    background-color: lighten(@theme_background2 , 15%);
    .mon
    {
      padding-left: 5px;
      .grid_styling(@theme_background1);
      div:first-of-type
      {
        color: blue;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 814px) {

  .bar1 , .bar2 , .bar3 , .bar4
  {
    background-color: red;
    height: 20px;
  }
  .flexbottom
  {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (min-width: 814px) {

  .list_gradient(@color , @change , @repeat , @counter: 0) when ( @counter <= @repeat)
  {
    .item:nth-child(@{repeat}n +  @{counter})
    {
      background-color: @color;
    }
    .list_gradient(lighten(@color , @change) , @change , @repeat , @counter+1);
  }

  .menu
  {
    .list_gradient( @theme_background1, 10% , 3);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: darken(@theme_background1 , 10%);
    .item
    {
      &:hover
      {
        background: lighten(@theme_background1, 65%);
      }
    }
    .item
    {
      display: inline-block;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    border-radius: 1em;
}
  .container
  {
    background-color: @theme_background1;
    .sidebar .item
    {
      display: block !important;
    }

    .flexbottom
    {
      h2
      {
        width: 100%;
      }
      .mon
      {
        width:18%;
      }
    }

    .flexbottom
    {
      padding-right: 3rem;
      display: flex;
      flex-wrap: wrap;
      h2 , div
      {
        color: black;
      }
      .mon
      {
        div:first-of-type
        {
          color: black !important;
        }
        margin: 2px;
      }
    }
    .bargraph
    {

      row-gap: 0;
      padding-bottom: 0;
      .bar1 , .bar2 , .bar3 , .bar4
      {
        width: 50px;

        background-color: green;
      }
      .bar1
      {
        grid-row-start:2 ;
        grid-row-end:5 ;
        grid-column-start: 4 ;
        grid-column-start: 4 ;
      }
      .bar2
      {
        grid-row-start:3 ;
        grid-row-end:5 ;
        grid-column-start: 6 ;
        grid-column-start: 6 ;
      }
      .bar3
      {
        grid-row-start:1;
        grid-row-end:5;
        grid-column-start: 8;
        grid-column-start: 8;
      }
      .bar4
      {
        grid-row-start:4;
        grid-row-end:5;
        grid-column-start: 10;
        grid-column-start: 10;
      }
    }

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2 , 1fr);
    .sidebar
    {
      order: -1;
      grid-row: span 2;
    }
    border-radius: 2em;
    .sidebar
    {
      padding-left: 20%;
      padding-top: 20%;
    }
    .sidebar
    {
      .item .subItem
      {
        display: none;
      }
    }
    .sidebar
    {
      .item
      {
        width: 25%;
      }
      .item:hover
      {
        font-weight: bolder;
        .subItem
        {
          display: block;
          padding-left: 2rem;
        }
        .subItem:hover
        {
          color: red;
        }
      }
    }
  }
}
