<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FireArms</title>
</head>
<body>

    <h1>FireArms: Error template</h1>

    <h2>An error has occured.</h2>

    <label>Message:</label>

    <p>{{message}}</p>

</body>
</html>
