<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="header.js" defer></script>


    <title>FireArms</title>

</head>

<body onload="myfunction()">

  <header>

        <button class="menubar"><i class="fa fa-bars"><span>Menu</span></i></button>

        <div class="image">

          <img src="templates/heading.jpg" alt="Guns and Bullets">

        </div>

        <h1>{{  heading  }}</h1>


  </header>


</body>

</html>
