<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>FireArms</title>
</head>

<body>

      <nav>

              <div><a href="{{link1}}">Home</a></div>
              <div><a href="{{link2}}">Featured Products</a></div>
              <div><a href="{{link3}}">FireArms</a></div>
              <div><a href="{{link4}}">Tools</a></div>
              <div><a href="{{link5}}">Chat</a></div>
              <div><a href="{{link6}}">Contact</a></div>
              <div><a href="{{link7}}">Log Out</a></div>

      </nav>


</body>

</html>
