@padding:2px;
@font_size: 14pt;
@height: 200px;
@right_column_width: 600px;
@profile_width: 800px;
@squad_width: 700px;
@picture_height: 265px;
@color: #003366;
@span_color: red;
@header_background: pink;
@profile_color: skyblue;

body
{
  margin: 0;
  header
  {
    background: @header_background;
    text-align: center;
    padding: 2%;
    h1
    {
      margin: 0;
    }
  }
}

.flex
{
  display:flex;
  flex-wrap: wrap;
}

.inner_flex
{
  display: flex;
  width: @right_column_width;
  margin-top: 5%;
  margin-bottom: 2%;
}

.battalion_roster
{
  background: linear-gradient(skyblue , cornflowerblue);
  padding-top: 1.5%;
  padding-bottom: 1%;
  width: 100%;
  margin-right: 6%;

  div
  {
    padding: 1.5%;
    font-size: @font_size;
    color: @color;
    font-weight: bold;
    margin-right: 3%;
  }

  .list_of_names #name div:hover
  {
    background: grey;
  }

  .newClass
  {
    background: @header_background;
  }

  .list_of_names div
  {
    padding: 8%;
  }

  h2
  {
    margin: 0;
    color: orangered;
  }

}
.squad_roster
{
  background: linear-gradient(cornflowerblue , blue);
  color: white;
  height: @height;
  padding: 2%;
  margin-right: 2%;
  width: @squad_width;;

  h2
  {
    color: black;
  }

  div
  {
    padding: @padding;
    font-size: @font_size;
  }

}
.right_column
{
  margin-left: 10%;
  position: absolute;
  left: 25%;
  right: 25%;
}

.profile
{
  padding: 2%;
  background: @profile_color;
  width: @profile_width;
  height: @height;

  div
  {
    font-size: @font_size;
  }

  span
  {
    color: @span_color;
  }

}

.picture
{
  background: violet;
  width: @right_column_width;
  height: @picture_height;
  padding-top: 1%;
  padding-left: 1%;
  margin-top: 1%;

  h2
  {
    margin: 0;
  }

}
