@font-family: 'Arial';

h2
{
  text-align: center;
  color: blue;
}

.chatSystem
{
  text-align: center;

  .chat
  {
    //display: flex;
    //justify-content:  center;
    p
    {
      margin: 1%;
    }
  }
}

form
{
  margin-left: 2%;

  input
  {
    width: 60%;
    height: 20px;
    margin-bottom: 2%;
    font-family: @font-family;
  }
  textarea
  {
    width: 60%;
    font-family: @font-family;
  }
  button
  {
    padding: 1%;
    margin: 1%;
    margin-left: 0;
  }
}


 .name
{
  color: cornflowerblue;
  margin-right: 1%;

}

.messageTime
{
  color: green;
}
