@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@theme_font: "Roboto Slab" , serif;
@list_padding: 0.5em;
@menubutton_padding: 0.5em;
@span_margin: 10px;
@span_font: 12pt;
@margin: 2px;
@menuitems_color: white;
@list_font: 15pt;

.menu_gradient(@color , @change , @repeat , @counter: 0) when (@counter < @repeat)
{
  li:nth-child(@{repeat}n + @{counter})
  {
    background-color: @color;
  }
  .menu_gradient( darken(@color , @change) , @change , @repeat , @counter+1);
}
html
{
  font-family: @theme_font;
}
header
{
  button
  {
    padding: @menubutton_padding;
    span
    {
      margin-left: @span_margin;
      font-size: @span_font;
    }
  }
}
body
{
  background-image: url("backgroundImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  header nav
  {
    position: absolute;
    background-color: grey;
    margin: @margin;
    ul
    {
      .menu_gradient(@menuitems_color , 10% , 5);
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      display: none;
      a
      {
        text-decoration: none;
      }
      a:link
      {
        color : black;
      }
      a:visited
      {
        color : purple;
      }
      a:hover
      {
        text-decoration : underline;
      }
      a:active
      {
        color : white;
      }
      li
      {
        list-style-type: none;
        padding: @list_padding;
        padding-right: @list_padding + @list_padding;
      }
    }
  }
}

@media screen and (min-width : 800px)
{
  header
  {
     .menubar
     {
       display: none;
     }
     nav
     {
       width: 100%;
       position: absolute;
       top: 0;
       left: 0;
       .links
       {
         display: flex;
         li
         {
           width: 25%;
           text-align: center;
           font-size: @list_font;
         }
       }
     }
  }
}
