@gradient_color1: #99ff99;
@gradient_color2: #b2b2ff;
@background_color: #FFFF99;
@link_font_size: 13pt;
@color: blue;
@flex_height: 120px;
@color: blue;
@font_size: 16pt;
@margin: 0.5em;
@padding: 0.5em;

body
{
  background: @background_color;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

  div
  {
    border: solid black 2px;
    margin: @margin;
    padding: @padding;
    font-size: @font_size;
    background: linear-gradient(@gradient_color1, @gradient_color2);
    text-align: left;
  }

  a
  {
    width: 100%;
    margin: 2%;
    font-size: @link_font_size;
    background: white;
    border: solid @color 2px;
    color: red;
    text-align: center;
  }

  span
  {
    color: red;
  }

  a
  {
    text-decoration: none;
  }
  
}
