@margin: 0.5em;
@padding: 0.5em;
@gradient_color1: #99ff99;
@gradient_color2: #b2b2ff;
@background_color: #FFFF99;
@color: blue;
@font_size: 16pt;
@link_font_size: 13pt;
@flex_height: 120px;

body
{
  background: @background_color;
  display: flex;
  flex-wrap: wrap;

  >a
  {
    text-align: center;
    width: 13%;
    margin: 1%;
    font-size: @link_font_size;
    background: white;
    border: solid @color 2px;
    color: red;
  }

  span
  {
    color: red;
  }

  h1 , p
  {
    width: 100%;
  }

  h1
  {
    color: @color;
    text-align: center;
  }

  p
  {
    color: @color;
    margin-left: 1%;
    font-size: @font_size;
  }

  div
  {
    border: solid black 2px;
    margin: @margin;
    padding: @padding;
    width:20%;
    font-size: @font_size;
    height: @flex_height;
    text-align: center;
    background: linear-gradient(@gradient_color1, @gradient_color2);
  }

  a
  {
    text-decoration: none;
  }
  
}
