html
{
  font-size: 15pt;
  background-color: white;
  margin: 0.5rem;
}
h3
{
  font-family: "Noto Serif KR", sans-serif;
}
table , th , td
{
    border: 1px solid white;
}
table tr
{
  vertical-align: text-top;
}
body, table
{
  background-image: url("BackgroundImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
body
{
    padding: 1.5rem;
    border-radius: 2rem;
}
a:link
{
    color: white;
}
a:visited
{
    color: rgb(135,206,250);
}
a:hover
{
    color: rgb(255,140,190);
}

a:active
{
    color: silver;
}
