
body
{
  background-image: url("backgroundImage.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.chatHeading
{
  text-align: center;
  background: #001440;
  color: white;
  padding: 1%;
  margin: 1%;
}


.message
{
  background: silver;
  width: 80%;
  padding: 1%;
  margin: auto;
  margin-top: 2%;

  .chatWindow
  {
    background: grey;
    color: #001440;
    font-weight: bold;
    padding: 1%;

    .userMessages
    {
      overflow-y: scroll;
      height: 400px;
      border: solid black 1px;
      background: white;
    }

    input
    {
      margin: 1%;
    }
  }

}

@media screen and (max-width : 800px)
{
  body
  {
      background-image: none;
  }
}
