@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@theme_font: "Roboto Slab" , serif;
@login_width: 300px;
@button_width: 150px;
@button_height: 30px;
@background_color: silver;
@border_radius: 20px;


body
{
  background-image: url("templates/heading.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: @theme_font;
}
.create_account , .login_account
{
  border-radius: @border_radius;
  width: @login_width;
  margin: auto;
  margin-top: 7%;
  padding: 2%;
  padding-top: 1%;
  background: @background_color;

  h2
  {
    text-align: center;
  }

  form
  {
    display: flex;
    flex-direction: column;

    label , input
    {
      margin: 1%;
    }

    input
    {
      height: 25px;
      margin-bottom: 5%;
      border-radius: @border_radius - 15px;
    }

    button
    {
        width: @button_width;
        height: @button_height;
        margin: auto;
        margin-top: 3%;
        font-family: @theme_font;
        font-weight: bold;
    }
   }

   .loginLink
   {
     text-align: center;
     margin-top: 5%;
     a
     {
       text-decoration: none;
     }
   }

 }
