@image_width: 290px;
@image_height: 290px;

body
{
  background-image: url("backgroundImage.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.message1 , .message2 , .message3 , .message4
{
  margin: 0.5%;
  padding: 0.5%;
  margin-left: 0;
  margin-right: 0;
  background: #001440;
  color: white;
  text-align: center;
}

.image_details
{
  display: flex;
  img
  {
    width: @image_width;
    height: @image_height;
  }
}

.message3
{
  display: none;
}

.container
{
  .product_list , .addToFavourite , .img , .details
  {
    border-radius: 8%;
  }
  display: flex;
  .product_list
  {
    width:20%;
    background: #001440;
    margin: 1%;
    padding: 1%;

    h2
    {
      text-align: center;
      color: white;
    }
    div
    {
      background: pink;
      margin: 2%;
      padding: 1%;
      text-align: center;
    }
  }
  .addToFavourite
  {
    width: 20%;
    background: grey;
    margin: 1%;
    padding: 1%;

    h2
    {
      text-align: center;
    }
    p
    {
      text-align: center;
    }

    div
    {
      background: grey;
      margin: 2%;
      padding: 1%;
      background: white;
      text-align: center;
    }
  }
  .image_details
  {
    width: 60%;
    .img
    {
      width: 80%;
      background: #001440;
      margin: 2%;
      text-align: center;
      padding: 1%;
      color: white;

    }
    .details
    {
      width: 100%;
      background: grey;
      margin: 2%;
      padding: 1%;

      h2
      {
        text-align: center;
      }
      span
      {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width : 800px)
{
  .image_details
  {
    display: block;
  }
  .message1 , .message2
  {
    display: none;
  }

  .message3
  {
    display: block;
  }

  .container
  {

    .product_list , .addToFavourite , .img , .details
    {
      border-radius: 0;
    }
    display: block;
    .product_list
    {
      width: 80%;
      margin: auto;
      margin-bottom: 2%;
    }
    .addToFavourite
    {
      width: 80%;
      margin: auto;
      margin-bottom: 2%;
    }
    .image_details
    {
      width: 100%;
      .img
      {
        width: 80%;
        margin: auto;
        margin-bottom: 2%;
      }
      .details
      {
        width: 80%;
        margin: auto;
        margin-bottom: 2%;
      }
    }
  }
}

.product_list div:hover
{
  cursor: default;
  background: grey;
  color: white;
}
