img
{
  width: 45%;
  margin: 2%;
  height: 80px;
}
.handguns
{
  display: flex;
  flex-wrap: wrap;

  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  img:first-of-type
  {
    margin-top: 10%;
  }
  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.shotguns
{
  display: flex;
  flex-wrap: wrap;
  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.pistols
{
  display: flex;
  flex-wrap: wrap;
  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.rifles
{
  display: flex;
  flex-wrap: wrap;
  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.sidebar
{
  h2
  {
    margin-top: 0;
  }
  ul
  {

    padding: 0;
    font-size: 15pt;

    li
    {
      list-style-type: none;
    }

    a:link
    {
      text-decoration: none;
      color: #001440;
    }
    a:visited
    {
      color : pink;
    }
    a:hover
    {
      text-decoration: underline;
    }
    a:active
    {
      color : blue;
    }
  }
}

h2
{
  text-align: center;
}

form
{
  .button
  {
    padding: 3%;
    margin: 10%;
  }
  .textbox
  {
    padding: 4%;
  }
}

@media screen and (min-width : 800px)
{
  .flex
  {
    display: flex;
  }
  .message
  {
    color: white;
    background: #001440;
    font-size: 15pt;
    margin: 1%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 0.5%;
  }
  .sidebar
  {
    background: grey;
    padding: 1%;
    user-select: none;
    width : 0.5px;
    transition: width 1s;
    overflow: hidden;
  }

  .open
  {
       width: 450em;
       transition: width 1s;
   }
}

@media screen and (max-width : 800px)
{
  .sidebar
  {
    background: grey;
    padding: 2%;
    height: auto;
    h3 , form
    {
      text-align: center;
    }
    .button
    {
      padding: 1.5%;
      margin: 3%;
    }
    .textbox
    {
      padding: 2%;
    }
  }

  .pistols , .rifles , .shotguns , .handguns
  {
    div
    {
      width: 45%;
      align-items: center;
    }
  }
  .message
  {
    display: none;
  }
}

.backToTop
{
  margin: 1%;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5%;
  background: #001440;
  text-align: center;
}
