@image-width: 270px;
@image-height: 200px;

@media screen and (min-width : 800px)
{
  img
  {
    width: 55%;
    margin: 3%;
    align-content: center;
    height: 120px;
  }

  h2
  {
    color: blue;
    text-align: center;
    width: 100%;
  }
  .handguns , .shotguns , .rifles , .pistols
  {
    background: #DBD0CC;
    align: center;
    border: solid black 2px;
    width: 25%;
    padding: 2%;
    margin: 2%;
    text-align: center;
  }
  .flex
  {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width : 800px)
{
  img
  {
    max-width: @image-width;
    height: @image-height;
  }
  .handguns , .shotguns , .rifles , .pistols
  {
    background: #DBD0CC;
    border: solid black 2px;
    min-width: 70%;
    padding: 2%;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2%;
  }

  .flex
  {
    display: flex;
    flex-wrap: wrap;
  }

  h2
  {
    text-align: center;
    width: 100%;
  }
}

.backToTop
{

  margin: 1%;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5%;
  background: #001440;
  text-align: center;
}
