@image-width: 320px;
@image-height: 250px;

.tools
{
  display: flex;
  img
  {
    max-width: @image-width;
    margin:2%;
    height: @image-height;
  }

  .favourites
  {
    background: grey;
    padding: 2%;
    width: 30%;
    h2
    {
      margin-top: 0;
      color: black;
    }

    ul li
    {
      color: white;
      list-style-type:circle;
      padding: 2%;
    }
  }

  .right_column
  {
      background: #DBD0CC;
      a
      {
        color: blue;
        text-decoration: none;
      }

    h3
    {
        text-align: center;
        margin-top: 5%;
    }
    h3:first-of-type
    {
      margin-top: 3%;
    }
    width: 70%;

    .handguns_parts, .shotguns_parts, .pistols_parts, .rifles_parts
    {
      background: white;
      overflow-y: scroll;
      height: 450px;
      margin:2%;
      div
      {
        border: black solid 2px;
        padding: 1%;
        margin: 1%;
        text-align: center;
        min-width: 40%;
        font-weight: bold;

      }
    }
  }
}

@media screen and (min-width : 800px)
{
  .handguns_parts , .shotguns_parts , .pistols_parts ,.rifles_parts
  {
    display: flex;
  }
}

.backToTop
{

  margin: 1%;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5%;
  background: #001440;
  text-align: center;
}
