@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@theme_font: "Roboto Slab" , serif;
@list_padding: 0.5em;
@image_width: 25%;
@border_width: 2px;
@margin: 2px;
@fab_margin: 0.5em;
@contactdiv_padding: 5%;
@contactbutton_padding: 0.5em;
@menubutton_padding: 0.5em;
@span_margin: 10px;
@span_font: 12pt;
@menuitems_color: white;
@list_font: 15pt;

html
{
  font-family: @theme_font;
}
main
{
  .about_me , .contact_me
  {
    background: linear-gradient(rgb(192,192,192) , rgb(105,105,105));
    padding-bottom: @list_padding;
    border: solid black @border_width;
  }
  .about_me
  {
    text-align: center;
    .fab
    {
      margin-right: @fab_margin;
    }
    img
    {
      width: @image_width;
    }
    margin-bottom: @margin;
  }
  .contact_me
  {
    h2
    {
      text-align: center;
    }
    padding-left: @contactdiv_padding;
    label , input , textarea
    {
      display: block;
    }
    button
    {
      padding: @contactbutton_padding;
    }
  }
}

@media screen and (min-width : 800px)
{
  body
  {
    background-image: url("backgroundImage.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  main
  {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    .about_me , .contact_me
    {
      min-width: 25%;
    }
    .about_me
    {
      padding-left: 2%;
      padding-right: 2%;
    }
    .contact_me
    {
      padding-right: 1%;
      form
      {
        margin-left: 5%;
      }
    }
  }
}
