img
{
  width: 45%;
  margin: 2%;
  height: 80px;
}
.handguns
{
  display: flex;
  flex-wrap: wrap;

  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  img:first-of-type
  {
    margin-top: 10%;
  }
  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.shotguns
{
  display: flex;
  flex-wrap: wrap;
  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.pistols
{
  display: flex;
  flex-wrap: wrap;
  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.rifles
{
  display: flex;
  flex-wrap: wrap;
  div
  {
    border: black solid 2px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }

  h2
  {
    width: 100%;
    margin: 1%;
  }
}

.sidebar
{
  background: grey;
  padding: 2%;
  h2
  {
    margin-top: 0;
  }
  ul
  {

    padding: 0;
    font-size: 15pt;

    li
    {
      list-style-type: none;
    }

    a:link
    {
      text-decoration: none;
      color: #001440;;
    }
    a:visited
    {
      color : pink;
    }
    a:hover
    {
      text-decoration: underline;
    }
    a:active
    {
      color : blue;
    }
  }
}

.flex
{
  display: flex;
}

h2
{
  text-align: center;
}

form
{
  .button
  {
    padding: 3%;
    margin: 10%;
  }
  .textbox
  {
    padding: 4%;
    border: solid black 11%;
  }

}
