@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@theme_font: "Roboto Slab" , serif;

html
{
  font-family: @theme_font;
}
.intro
{
  color: silver;
  background: #001440;
  font-size: 18pt;
  margin: 15%;
  padding: 1%;
  border-radius: 20pt;
}
body
{
  background-image: url("backgroundImage.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media screen and (max-width : 800px)
{
  .intro
  {
    text-align: center;
    background: none;
  }
  body
  {
    background: none;
    background: #001440;
  }

}
