img
{
  width: 55%;
  margin: 3%;
  align-content: center;
  height: 120px;
}

h2
{
  color: blue;
  text-align: center;
  width: 100%;
}
.handguns , .shotguns , .rifles , .pistols
{
  background: pink;
  align: center;
  border: solid black 2px;
  width: 25%;
  padding: 2%;
  margin: 2%;
  text-align: center;
}
.flex
{
  display: flex;
  flex-wrap: wrap;
}
