@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@theme_font: "Roboto Slab" , serif;
@contactbutton_padding: 0.5em;
@list_padding: 0.5em;
@image_width: 25%;
@border_width: 2px;
@margin: 2px;
@fab_margin: 0.5em;
@contactdiv_padding: 5%;
@contactbutton_padding: 0.5em;
@menubutton_padding: 0.5em;
@span_margin: 10px;
@span_font: 12pt;
@menuitems_color: white;
@list_font: 15pt;

html
{
  font-family: @theme_font;
}
body
{
  margin: 0;
}

a:link
{
  text-decoration: none;
  color: white;
}
a:visited
{
  color : orange;
}
a:hover
{
  text-decoration: underline;
}
a:active
{
  color : skyblue;
}
footer
{
  background: linear-gradient(rgb(192,192,192) , rgb(105,105,105));
  color: #001440;
  text-align: center;
  margin-top: 7%;
  padding: 1%;
  font-size: 15pt;
  font-weight: bold;
  height: 80px;
  p
  {
    margin:0;
  }
}

@media screen and (max-width : 800px)
{
  nav
  {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    position: absolute;
    top: 10%;
    left: 3%;
  }

  header
  {
    background-image: url("templates/heading.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    padding: 3%;

    span
    {
      padding-left: 1em;
    }

    .menubar
    {
      padding: @contactbutton_padding;
    }

    img
    {
      display: none;
    }

    h1
    {
      margin: 0;
      color: white;
      font-size: 45pt;
      letter-spacing: 20px;
      text-align: center;
    }
  }
  nav
  {
    background: linear-gradient(grey , black);
    display: none;
  }
}
@media screen and (min-width : 800px)
{
  header
  {
    .menubar
    {
      display: none;
    }
    font-family: @theme_font;
    display: flex;
    background: linear-gradient(rgb(192,192,192) , rgb(105,105,105));
    padding: 1%;
    margin:0;
    img
    {
      width: 25%;
      height: auto;
      border: solid black 2px;
      transform: rotate(-5deg);
      border-radius: 20pt;
    }
    h1
    {
      font-size: 40pt;
      color: #001440;
      letter-spacing: 30px;
    }
  }

  nav
  {
    display: flex;
    font-size: 15pt;
    background: #001440;
    padding: 1%;
    align: right;
    div
    {
      width: 20%;
      border-right: solid white 2px;
      text-align: center;
      padding-right: 0.5%;
    }
    div:last-of-type
    {
      border-right: solid #001440 2px;
    }
  }
}
