@body_color: red;
@background_color1: lightpink;
@background_color2: skyblue;
@padding: 1%;
@padding_top_bottom: 0.5%;
@heading_color: red;
@font_size: 17pt;
@margin_top: 18.75%;
@margin_bottom: 19.05%;

body
{
  h1
  {
    padding: 0.5%;
    text-align: center;
    color: @body_color;
    background: linear-gradient(@background_color1 , @background_color2);
  }

  .nav
  {
    display: inline-block;
    width: 10%;
    height: 6265px;
    background:linear-gradient(@background_color1 , @background_color2);
    padding: @padding;
    padding-top: @padding_top_bottom;
    padding-bottom: @padding_top_bottom;
    border: solid black 2px;

    div
    {
      background: white;
    }

    h2
    {
      color: @heading_color;
      font-size: @font_size;
    }

    a
    {
      text-decoration: none;
    }

    div
    {
      font-size: @font_size;
      margin-top: @margin_top;
      margin-bottom: @margin_bottom;
    }
  }

  .favourite_pokemons
  {
    display: inline-block;
    float: right;
    text-align: center;
    position:absolute;
    left: 15%;
  }

  .pokemon_tables
  {
    display: inline-block;
    float: right;
    width: 80%;
    text-align: left;
    position:absolute;
    top: 50%;
    left: 15%;

    table td , table th
    {
      border: dotted black 0.5px;
      width: 450px;
      margin: 2%;
      text-align: center;

      a
      {
        text-decoration: none;
      }
    }
  }

  .favourite_pokemons
  {
    .favourite_pok div
    {
      border: solid black 0.5px;
      padding: 1%;
      width: 50%;
      background: pink;
    }
  }
}
