@background_color: #FFFF99;
@font_size: 15pt;
@margin: 0.7em;
@padding: 0.7em;

body
{
  background: @background_color;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

  div
  {
    border: solid black 2px;
    margin: @margin;
    padding: @padding;
    font-size: @font_size;
    background: white;
    text-align: left;
    width: 25%;
  }

  a
  {
    width: 100%;
    margin: 2%;
    font-size: @font_size + 3pt;
    color: blue;
    text-align: center;
    text-decoration: none;
  }

}
