<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Pokedex</title>
</head>

<body>


      <div class="favourite_pokemons">

          <h2>Favourite Pokemons</h2>

          <div class="favourite_pok">

              {% for record in favourite_pok %}

                <div>{{record.NPNumber}}  <br>  {{record.Name}}</div>

              {% endfor %}

          </div>

      </div>




</body>

</html>
