<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Pokedex</title>
</head>

<body>

        <div class="pokemon_tables">

            <h2>Pokemon Table</h2>

            <table>

              <tr>
                <th>NPNumber</th>
                <th>Name</th>
              </tr>

              {% for np in pokemon_table %}

                <tr>

                    <td>{{np.NPNumber}}</td>

                    <td><a href="index.php?Name={{np.Name | url_encode}}">{{np.Name}}</a></td>

                </tr>

              {% endfor %}

            </table>

        </div>

</body>

</html>
