<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Pokedex</title>
</head>

<body>

      <div class="nav">

          <h2>Popular Pokemons</h2>

          {% for name in popular_pokemons %}

              <div><a href="page2.php?Name={{name.Name | url_encode}}">{{name["Name"]}}</a></div>

          {% endfor %}

      </div>


</body>

</html>
